<div class="terminal">
    <div class="terminal__chrome">
        <span class="dot red"></span><span class="dot yellow"></span><span class="dot green"></span>
        <span class="title">root@syncpundit:~# </span>
    </div>
    <div class="terminal__body">
        <pre><code class="prompt">root@syncpundit:~# whoami
<span class="answer" data-bind="profile.name"></span> <span class="answer" data-join="profile.badges" data-join-sep=" "></span></code></pre>
        <pre><code class="prompt">root@syncpundit:~# skills --top
<span class="answer" data-join="expertise.areas" data-join-sep=", "></span></code></pre>
        <pre><code class="prompt prompt--active">root@syncpundit:~# </code></pre>
    </div>
</div>