.firebaserc
blog/firebase.json
blog/storage.rules
blog/files.publii.json
website/storage.rules
website/remoteconfig.template.json
website/package.json
website/firebase.json
public
website/headers.txt
github/website/.vscode/
