---
layout: blog
title: Blog
group: navigation
tags : [blog, posts, post]
author : Antonio Trento
css: 
js:
keywords: noalfemminicidio, femminicidio, blog, aiuto, violenza, donne, no-profit
canonical: https://noalfemminicidio.github.io/blog
---
{% include JB/setup %}

<!-- Change the "about information" contained in /_includes/themes/bootstrap/index.html  -->

  {% for post in site.posts %}

                <!-- Blog Post Template on Index page -->
                <h2>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                </h2>		
                {% if post.img %}
                  <div class="wow pulse" data-wow-duration="0.5s"><img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image" class="img-rounded img-responsive"></div>
                {% endif %}
		
                <p class="lead">
                    <strong>Tags: {{post.tags | array_to_sentence_string}}. <span class="glyphicon glyphicon-time"></span> Post del {{ post.date | date_to_string }}</strong>
                </p>
		
		{{ post.excerpt }}
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Leggi tutto</a>
		</br></br></br></br>

  {% endfor %}

