---
layout: blog
title: Blog
group: navigation
tags : [blog, noalfemminicidio, posts, post]
author : Antonio Trento
css: 
js:
keywords: noalfemminicidio, femminicidio, blog, aiuto, violenza, donne
canonical: https://noalfemminicidio.github.io/blog
---
{% include JB/setup %}

<!-- Change the "about information" contained in /_includes/themes/bootstrap/index.html  -->

  {% for post in site.posts %}

                <!-- Blog Post Template on Index page -->
                <h2>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                </h2>		
                {% if post.img %}
                  <div class="wow pulse" data-wow-duration="0.5s"><img src="{{ BASE_PATH }}/assets/img/{{ post.img }}" alt="{{ post.title }} image" class="img-rounded img-responsive"></div>
                {% endif %}
		</br>
                <p class="lead">
                    Tagged under: {{post.tags | array_to_sentence_string}}
                </p>
		</br>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date_to_string }}</p>
		</br>
		{{ post.excerpt }}
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Read More</a>
		</br></br></br></br>

  {% endfor %}

