          <div class="blog-block about-sidebar-widget">
            <img src="{{ BASE_PATH }}/assets/images/blog/author.jpg">
            <h4>About Author</h4>
            <p>Aenean vestibulum purus a nulla sollicitudin molestie. Maecenas bibendum erat in erat maximus, vel imperdiet leo mattis.</p>
            {% include social-block.html %}
          </div>

          <div class="mb-60"></div>
          
          <div class="blog-block blog-posts-widget side-bar sticky-top">
            <div class="widget-title">
              <h4>Sponsor</h4>
            </div>
            {% include ads-block.html %}
          <div>
