@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 0 40px;
  background-color: #000000;  
  font-family: monospace !important;
  font-size: 14px !important;
  min-height: 100vh;
}
input{
  font-family: monospace;
  font-size: 14px;
}
/* .main{
} */
td{
  text-align: left;
}
p{
  margin: 0;
}
span{
  color: rgba(0,255,0,.75);
}

td{
  color: white;
  min-width: 80px;
  vertical-align: top;

}
a{
  color:white !important;
}
.typing_one{
  width: 0ch;
  border: none;
  animation: m-typing .5s steps(3) forwards, borders .5s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 1s;
}
.m-typing_two{
  width: 0ch;
  animation: m-typing_2 2s steps(30) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 3s;
}
.m-typing_three{
  width: 0ch;
  animation: m-typing_3 2s steps(21) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 5s;
}
.m-typing_four{
  width: 0ch;
  animation: m-typing_4 2s steps(28) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 8s;
}

.m-typing_five{
  width: 0;
  width: 0ch;
  animation: m-typing_5 3s steps(35) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 11s;
}
.m-typing_six{
  width: 0ch;
  animation: m-typing_6 4s steps(40) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 14s;
}
.mfive{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 18s ;
  }
  .msix{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 25s;
  }
  .mseven{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 31s;
  }
  .meight{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 36s;
  }
  .mnine{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 42s;
  }
  .mten{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 47s;
  }
  .meleven{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 48s;
  }
  .mtwelve{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 49s;
  }
  .mtwelve-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 50s;
  }

.m-typing_seven{
  width: 0ch;
  animation: m-typing_7 3s steps(36) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 19s;
}
.m-typing_eight{
  width: 0ch;
  animation: m-typing_8 2s steps(19) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 22s;
}
.m-typing_nine{
  width: 0ch;
  animation: m-typing_9 2s steps(27) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 26s;
}
.m-typing_ten{
  width: 0ch;
  animation: m-typing_10 2s steps(20) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 28s;
}
.m-typing_eleven{
  width: 0ch;
  animation: m-typing_11 3s steps(28) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 32s;
}
.m-typing_twelve{
  width: 0ch;
  animation: m-typing_12 1s steps(13) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 35s;
}
.m-typing_thirteen{
  width: 0ch;
  animation: m-typing_13 3s steps(25) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 37s;
}
.m-typing_fourteen{
  width: 0ch;
  animation: m-typing_14 2s steps(13) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 40s;
}
.m-typing_fifteen{
  width: 0ch;
  animation: m-typing_15 2s steps(14) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 44s;
}
@keyframes m-typing{
  0%{
    width: 0ch;
  }
  100%{
    width: 3ch;
  }
}
@keyframes m-typing_2{
  0%{
    width: 0ch;
  }
  100%{
    width: 30ch;
  }
}
@keyframes m-typing_3{
  0%{
    width: 0ch;
  }
  100%{
    width: 21ch;
  }
}
@keyframes m-typing_4{
  0%{
    width: 0ch;
  }
  100%{
    width: 28ch;
  }
}
@keyframes m-typing_5{
  0%{
    width: 0ch;
  }
  100%{
    width: 35ch;
  }
}
@keyframes m-typing_6{
  0%{
    width: 0ch;
  }
  100%{
    width: 40ch;
  }
}
@keyframes m-typing_7{
  0%{
    width: 0ch;
  }
  100%{
    width: 36ch;
  }
}
@keyframes m-typing_8{
  0%{
    width: 0ch;
  }
  100%{
    width: 19ch;
  }
}
@keyframes m-typing_9{
  0%{
    width: 0ch;
  }
  100%{
    width: 27ch;
  }
}
@keyframes m-typing_10{
  0%{
    width: 0ch;
  }
  100%{
    width: 20ch;
  }
}
@keyframes m-typing_11{
  0%{
    width: 0ch;
  }
  100%{
    width: 28ch;
  }
}
@keyframes m-typing_12{
  0%{
    width: 0ch;
  }
  100%{
    width: 13ch;
  }
}
@keyframes m-typing_13{
  0%{
    width: 0ch;
  }
  100%{
    width: 25ch;
  }
}
@keyframes m-typing_14{
  0%{
    width: 0ch;
  }
  100%{
    width: 13ch;
  }
}
@keyframes m-typing_15{
  0%{
    width: 0ch;
  }
  100%{
    width: 14ch;
  }
}

.m-about-p1{
  width: 0ch;
  animation: m-typing_aboutp1 4s steps(34) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
}
.m-about-p2{
  width: 0ch;
  animation: m-typing_aboutp2 4s steps(38) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 4s;
}
.m-about-p3{
  width: 0ch;
  animation: m-typing_aboutp3 1s steps(8) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 8s;
}
.m-about-p4{
  width: 0ch;
  animation: m-typing_aboutp4 4s steps(31) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 9s;
}
.m-about-p5{
  width: 0ch;
  animation: m-typing_aboutp5 4s steps(39) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 13s;
}
.m-about-p6{
  width: 0ch;
  animation: m-typing_aboutp6 4s steps(34) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 17s;
}
.m-about-p7{
  width: 0ch;
  animation: m-typing_aboutp7 4s steps(40) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 21s;
}
.m-about-p8{
  width: 0ch;
  animation: m-typing_aboutp8 4s steps(41) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 25s;
}
.m-about-p9{
  width: 0ch;
  animation: m-typing_aboutp9 3s steps(29) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 29s;
}
.m-about-p10{
  width: 0ch;
  animation: m-typing_aboutp10 3s steps(32) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 32s;
}
.m-about-p11{
  width: 0ch;
  animation: m-typing_aboutp11 4s steps(39) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 36s;
}
.m-about-p12{
  width: 0ch;
  animation: m-typing_aboutp12 3s steps(34) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 40s;
}
.m-about-p13{
  width: 0ch;
  animation: m-typing_aboutp13 1s steps(11) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 43s;
}
.m-about-p14{
  width: 0ch;
  animation: m-typing_aboutp14 4s steps(41) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 44s;
}
.m-about-p15{
  width: 0ch;
  animation: m-typing_aboutp15 3s steps(34) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 48s;
}
.m-about-p16{
  width: 0ch;
  animation: m-typing_aboutp16 4s steps(39) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 51s;
}
.m-about-p17{
  width: 0ch;
  animation: m-typing_aboutp17 4s steps(38) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 55s;
}
.m-about-p18{
  width: 0ch;
  animation: m-typing_aboutp18 3s steps(31) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 59s;
}


@keyframes m-typing_aboutp1{
  0%{
    width: 0ch;
  }
  100%{
    width: 34ch;
  }
}
@keyframes m-typing_aboutp2{
  0%{
    width: 0ch;
  }
  100%{
    width: 38ch;
  }
}
@keyframes m-typing_aboutp3{
  0%{
    width: 0ch;
  }
  100%{
    width: 8ch;
  }
}
@keyframes m-typing_aboutp4{
  0%{
    width: 0ch;
  }
  100%{
    width: 31ch;
  }
}
@keyframes m-typing_aboutp5{
  0%{
    width: 0ch;
  }
  100%{
    width: 39ch;
  }
}
@keyframes m-typing_aboutp6{
  0%{
    width: 0ch;
  }
  100%{
    width: 34ch;
  }
}
@keyframes m-typing_aboutp7{
  0%{
    width: 0ch;
  }
  100%{
    width: 40ch;
  }
}
@keyframes m-typing_aboutp8{
  0%{
    width: 0ch;
  }
  100%{
    width: 41ch;
  }
}
@keyframes m-typing_aboutp9{
  0%{
    width: 0ch;
  }
  100%{
    width: 29ch;
  }
}
@keyframes m-typing_aboutp10{
  0%{
    width: 0ch;
  }
  100%{
    width: 32ch;
  }
}
@keyframes m-typing_aboutp11{
  0%{
    width: 0ch;
  }
  100%{
    width: 39ch;
  }
}
@keyframes m-typing_aboutp12{
  0%{
    width: 0ch;
  }
  100%{
    width: 34ch;
  }
}
@keyframes m-typing_aboutp13{
  0%{
    width: 0ch;
  }
  100%{
    width: 11ch;
  }
}
@keyframes m-typing_aboutp14{
  0%{
    width: 0ch;
  }
  100%{
    width: 41ch;
  }
}
@keyframes m-typing_aboutp15{
  0%{
    width: 0ch;
  }
  100%{
    width: 34ch;
  }
}
@keyframes m-typing_aboutp16{
  0%{
    width: 0ch;
  }
  100%{
    width: 39ch;
  }
}
@keyframes m-typing_aboutp17{
  0%{
    width: 0ch;
  }
  100%{
    width: 38ch;
  }
}
@keyframes m-typing_aboutp18{
  0%{
    width: 0ch;
  }
  100%{
    width: 31ch;
  }
}
.m-ls-p1{
  width: 0ch;
  animation: m-typing_lsp1 1s steps(13) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.m-ls-p2{
  width: 0ch;
  animation: m-typing_lsp2 1s steps(11) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 1s;
}
@keyframes m-typing_lsp1{
  0%{
    width: 0ch;
  }
  100%{
    width: 13ch;
  }
}
@keyframes m-typing_lsp2{
  0%{
    width: 0ch;
  }
  100%{
    width: 11ch;
  }
}
.m-catex-p1{
  width: 0ch;
  animation: m-typing_catex1 1s steps(18) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.m-catex-p2{
  width: 0ch;
  animation: m-typing_catex2 1s steps(13) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
}
.m-catex-p3{
  width: 0ch;
  animation: m-typing_catex3 1s steps(17) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 4s;
}
.m-catex-p4{
  width: 0ch;
  animation: m-typing_catex4 1s steps(14) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 6s;
}
.m-catex-p5{
  width: 0ch;
  animation: m-typing_catex5 2s steps(19) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 8s;
}
.m-catex-p6{
  width: 0ch;
  animation: m-typing_catex6 1s steps(16) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 11s;
}
.m-catex-p7{
  width: 0ch;
  animation: m-typing_catex7 3s steps(31) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 13s;
}
.m-catex-p8{
  width: 0ch;
  animation: m-typing_catex8 2s steps(24) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 17s;
}
.m-catex-p9{
  width: 0ch;
  animation: m-typing_catex9 2s steps(25) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 20s;
}
.m-catex-p10{
  width: 0ch;
  animation: m-typing_catex10 2s steps(21) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 23s;
}
@keyframes m-typing_catex1{
  0%{
    width: 0ch;
  }
  100%{
    width: 18ch;
  }
}
@keyframes m-typing_catex2{
  0%{
    width: 0ch;
  }
  100%{
    width: 13ch;
  }
}
@keyframes m-typing_catex3{
  0%{
    width: 0ch;
  }
  100%{
    width: 17ch;
  }
}
@keyframes m-typing_catex4{
  0%{
    width: 0ch;
  }
  100%{
    width: 14ch;
  }
}
@keyframes m-typing_catex5{
  0%{
    width: 0ch;
  }
  100%{
    width: 19ch;
  }
}
@keyframes m-typing_catex6{
  0%{
    width: 0ch;
  }
  100%{
    width: 16ch;
  }
}
@keyframes m-typing_catex7{
  0%{
    width: 0ch;
  }
  100%{
    width: 31ch;
  }
}
@keyframes m-typing_catex8{
  0%{
    width: 0ch;
  }
  100%{
    width: 24ch;
  }
}
@keyframes m-typing_catex9{
  0%{
    width: 0ch;
  }
  100%{
    width: 25ch;
  }
}
@keyframes m-typing_catex10{
  0%{
    width: 0ch;
  }
  100%{
    width: 21ch;
  }
}
.m-catcon-p1{
  width: 0ch;
  animation: m-typing_catcon1 1s steps(6) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.m-catcon-p2{
  width: 0ch;
  animation: m-typing_catcon2 1s steps(7) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
}
.m-catcon-p3{
  width: 0ch;
  animation: m-typing_catcon3 1s steps(8) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 3s;
}
@keyframes m-typing_catcon1{
  0%{
    width: 0ch;
  }
  100%{
    width: 6ch;
  }
}
@keyframes m-typing_catcon2{
  0%{
    width: 0ch;
  }
  100%{
    width: 7ch;
  }
}
@keyframes m-typing_catcon3{
  0%{
    width: 0ch;
  }
  100%{
    width: 8ch;
  }
}
.m-blog-p1{
  width: 0ch;
  animation: m-typing_blog1 3s steps(30) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes m-typing_blog1{
  0%{
    width: 0ch;
  }
  100%{
    width: 30ch;
  }
}
.m-misc-p1{
  width: 0ch;
  animation: m-typing_misc1 1s steps(8) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes m-typing_misc1{
  0%{
    width: 0ch;
  }
  100%{
    width: 8ch;
  }
}
.m-error-p1{
  width: 0ch;
  animation: m-typing_error1 1s steps(16) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.m-error-p2{
  width: 0ch;
  animation: m-typing_error2 2s steps(27) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
}
@keyframes m-typing_error1{
  0%{
    width: 0ch;
  }
  100%{
    width: 16ch;
  }
}
@keyframes m-typing_error2{
  0%{
    width: 0ch;
  }
  100%{
    width: 27ch;
  }
}









/* .typing_twelve{
  width: 0ch;
} */
.typing_twelve:focus{
  outline: none;
}
.typing_twelve .boerder_12{
  animation: showanim;
  animation-delay: 42s;
}
input{
  background: transparent;
  border:none;
  caret-color: white;
  color: white;
}
form input[type=submit]{
  visibility: hidden;
}
.submit{
  opacity: 0;
}
input:focus{
  outline: none;
}

/* #about{
  display: none;
}
#ls{
  display: none;
}
#catex{
  display: none;
}
#catcon{
  display: none;
}
#blog{
  display: none;
}

#misc{
  display: none;
} */
.about-s{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 62s;
}
.about-s-form{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 63s;
}
.m-ls-s{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 4s;
}
.m-ls-s-form{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 5s;
}

.exp-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 26s;
}
.exp-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 27s;
}

.m-cont-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 4s;
}
.m-cont-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 4s;
}

.blog-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 4s;
}
.blog-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 5s;
}

.misc-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 2s;
}
.misc-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 3s;
}

.error-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 3s;
}
.error-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 4s;
}

.rev-s{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 13s;
}
.rev-s-form{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 14s;
}
/* Animations */




@keyframes fadeText{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes borders{
  0%{
    border-right:3px solid white;
  }
  100%{
    border-right:3px solid white;
  }
}
@keyframes showanim{
  0%{
    display: none;
  }
  100%{
    display: block;;
  }
}