@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 0 40px;
  background-color: #000000;  
  font-family: monospace !important;
  font-size: 14px !important;
  min-height: 100vh;
}
.blue-text{
  /* color: rgb(15, 101, 201); */
  color: rgba(0,255,0,.75);
  font-weight: bold;
}
input{
  font-family: monospace;
  font-size: 14px;
}
/* .main{
} */
td{
  text-align: left;
}
p{
  margin: 0;
}
span{
  color: #00ff00bf;
}

td{
  color: white;
  min-width: 80px;
  vertical-align: top;

}
a{
  color:white !important;
}
.typing_one{
  width: 0ch;
  border: none;
  animation: typing 1s steps(3) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 1s;
}
.typing_two{
  width: 0ch;
  animation: typing_2 2s steps(53) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 3s;
}
.typing_three{
  width: 0ch;
  animation: typing_3 1s steps(28) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 6s;
}
.typing_four{
  width: 0ch;
  animation: typing_4 3s steps(77) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 8s;
}
.five{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay:12s ;
  }
  .six{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 18s;
  }
  .seven{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 22s;
  }
  .eight{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 27s;
  }
  .nine{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 33s;
  }
  .ten{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 36s;
  }
  .eleven{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 38s;
  }
  .twelve{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 40s;
  }
  .twelve-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 41s;
  }
  
.typing_five{
  width: 0;
  width: 0ch;
  animation: typing_5 5s steps(59) forwards, borders 5s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 12s;
}
.typing_six{
  width: 0ch;
  animation: typing_6 3s steps(48) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 19s;
}
.typing_seven{
  width: 0ch;
  animation: typing_6 3s steps(48) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 23s;
}
.typing_eight{
  width: 0ch;
  animation: typing_8 3s steps(39) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 28s;
}
.typing_nine{
  width: 0ch;
  animation: typing_9 2s steps(14) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 33s;
}
.typing_ten{
  width: 0ch;
  animation: typing_9 2s steps(14) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 37s;
}
/* .typing_twelve{
  width: 0ch;
} */
.typing_twelve:focus{
  outline: none;
}
.typing_twelve .boerder_12{
  animation: showanim;
  animation-delay: 42s;
}
input{
  background: transparent;
  border:none;
  caret-color: #00ff00bf;
  color: white;
}
form input[type=submit]{
  visibility: hidden;
}
.submit{
  opacity: 0;
}
input:focus{
  outline: none;
}
/* #about{
  display: none;
}
#ls{
  display: none;
}
#catex{
  display: none;
}
#catcon{
  display: none;
}
#blog{
  display: none;
}
#misc{
  display: none;
} */
.about-p1{
  width: 0ch;
  animation: typing_aboutp1 8s steps(82) forwards, borders 8s;
  overflow: hidden;
  white-space: nowrap;
}
.about-p2{
  width: 0ch;
  animation: typing_aboutp2 9s steps(104) forwards, borders 9s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 9s;
}
.about-p3{
  width: 0ch;
  animation: typing_aboutp3 10s steps(112) forwards, borders 10s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 19s;
}
.about-p4{
  width: 0ch;
  animation: typing_aboutp4 9s steps(97) forwards, borders 9s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 19s;
}
.about-p5{
  width: 0ch;
  animation: typing_aboutp5 4s steps(32) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 29s;
}
.about-p6{
  width: 0ch;
  animation: typing_aboutp6 8s steps(86) forwards, borders 8s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 34s;
}
.about-p7{
  width: 0ch;
  animation: typing_aboutp7 4s steps(45) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 43s;
}
.about-p8{
  width: 0ch;
  animation: typing_aboutp8 3s steps(31) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 47s;
}
.about-p9{
  width: 0ch;
  animation: typing_aboutp9 10s steps(111) forwards, borders 10s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 51s;
}
.about-s{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 62s;
}
.about-s-form{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 63s;
}
.ls-s{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 4s;
}
.ls-s-form{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 5s;
}
.about-p10{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 75s;
}
.ls-p1{
  width: 0ch;
  animation: typing_lsp1 1s steps(13) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.ls-p2{
  width: 0ch;
  animation: typing_lsp2 1s steps(11) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
}
.exp-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 26s;
}
.exp-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 27s;
}
.catex-p1{
  width: 0ch;
  animation: typing_catex1 1s steps(18) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.catex-p2{
  width: 0ch;
  animation: typing_catex2 1s steps(13) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
}
.catex-p3{
  width: 0ch;
  animation: typing_catex3 1s steps(17) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 4s;
}
.catex-p4{
  width: 0ch;
  animation: typing_catex4 1s steps(14) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 6s;
}
.catex-p5{
  width: 0ch;
  animation: typing_catex5 2s steps(19) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 8s;
}
.catex-p6{
  width: 0ch;
  animation: typing_catex6 1s steps(16) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 11s;
}
.catex-p7{
  width: 0ch;
  animation: typing_catex7 3s steps(31) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 13s;
}
.catex-p8{
  width: 0ch;
  animation: typing_catex8 2s steps(24) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 17s;
}
.catex-p9{
  width: 0ch;
  animation: typing_catex9 2s steps(25) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 20s;
}
.catex-p10{
  width: 0ch;
  animation: typing_catex10 2s steps(21) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 23s;
}
.cont-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 14s;
}
.cont-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 15s;
}
.catcon-p1{
  width: 0ch;
  animation: typing_catcon1 2s steps(25) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
}
.catcon-p2{
  width: 0ch;
  animation: typing_catcon2 4s steps(49) forwards, borders 4s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 3s;
}
.catcon-p3{
  width: 0ch;
  animation: typing_catcon3 6s steps(62) forwards, borders 6s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 8s;
}
.blog-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 4s;
}
.blog-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 5s;
}
.blog-p1{
  width: 0ch;
  animation: typing_blog1 3s steps(35) forwards, borders 3s;
  overflow: hidden;
  white-space: nowrap;
}
.misc-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 2s;
}
.misc-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 3s;
}
.misc-p1{
  width: 0ch;
  animation: typing_misc1 1s steps(8) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.error-s{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 3s;
}
.error-s-form{
    opacity: 0;
    animation: fadeText 100ms forwards;
    animation-delay: 4s;
}
.error-p1{
  width: 0ch;
  animation: typing_error1 1s steps(16) forwards, borders 1s;
  overflow: hidden;
  white-space: nowrap;
}
.error-p2{
  width: 0ch;
  animation: typing_error2 2s steps(27) forwards, borders 2s;
  overflow: hidden;
  white-space: nowrap;
  animation-delay: 2s;
}
.rev-s{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 13s;
}
.rev-s-form{
  opacity: 0;
  animation: fadeText 100ms forwards;
  animation-delay: 14s;
}
/* Animations */
@keyframes typing{
  0%{
    width: 0ch;
  }
  100%{
    width: 3ch;
  }
}
@keyframes typing_2{
  0%{
    width: 0ch;
  }
  100%{
    width: 53ch;
  }
}
@keyframes typing_3{
  0%{
    width: 0ch;
  }
  100%{
    width: 28ch;
  }
}
@keyframes typing_4{
  0%{
    width: 0ch;
  }
  100%{
    width: 77ch;
  }
}
@keyframes typing_5{
  0%{
    width: 0ch;
  }
  100%{
    width: 59ch;
  }
}
@keyframes typing_6{
  0%{
    width: 0ch;
  }
  100%{
    width: 48ch;
  }
}
@keyframes typing_7{
  0%{
    width: 0ch;
  }
  100%{
    width: 48ch;
  }
}
@keyframes typing_8{
  0%{
    width: 0ch;
  }
  100%{
    width: 39ch;
  }
}
@keyframes typing_9{
  0%{
    width: 0ch;
  }
  100%{
    width: 14ch;
  }
}
@keyframes typing_aboutp1{
  0%{
    width: 0ch;
  }
  100%{
    width: 82ch;
  }
}
@keyframes typing_aboutp2{
  0%{
    width: 0ch;
  }
  100%{
    width: 104ch;
  }
}
@keyframes typing_aboutp3{
  0%{
    width: 0ch;
  }
  100%{
    width: 112ch;
  }
}
@keyframes typing_aboutp4{
  0%{
    width: 0ch;
  }
  100%{
    width: 97ch;
  }
}
@keyframes typing_aboutp5{
  0%{
    width: 0ch;
  }
  100%{
    width: 32ch;
  }
}
@keyframes typing_aboutp6{
  0%{
    width: 0ch;
  }
  100%{
    width: 86ch;
  }
}
@keyframes typing_aboutp7{
  0%{
    width: 0ch;
  }
  100%{
    width: 45ch;
  }
}
@keyframes typing_aboutp8{
  0%{
    width: 0ch;
  }
  100%{
    width: 32ch;
  }
}
@keyframes typing_aboutp9{
  0%{
    width: 0ch;
  }
  100%{
    width: 111ch;
  }
}
@keyframes typing_lsp1{
  0%{
    width: 0ch;
  }
  100%{
    width: 13ch;
  }
}
@keyframes typing_lsp2{
  0%{
    width: 0ch;
  }
  100%{
    width: 11ch;
  }
}
@keyframes typing_catex1{
  0%{
    width: 0ch;
  }
  100%{
    width: 18ch;
  }
}
@keyframes typing_catex2{
  0%{
    width: 0ch;
  }
  100%{
    width: 13ch;
  }
}
@keyframes typing_catex3{
  0%{
    width: 0ch;
  }
  100%{
    width: 17ch;
  }
}
@keyframes typing_catex4{
  0%{
    width: 0ch;
  }
  100%{
    width: 14ch;
  }
}
@keyframes typing_catex5{
  0%{
    width: 0ch;
  }
  100%{
    width: 19ch;
  }
}
@keyframes typing_catex6{
  0%{
    width: 0ch;
  }
  100%{
    width: 16ch;
  }
}
@keyframes typing_catex7{
  0%{
    width: 0ch;
  }
  100%{
    width: 31ch;
  }
}
@keyframes typing_catex8{
  0%{
    width: 0ch;
  }
  100%{
    width: 24ch;
  }
}
@keyframes typing_catex9{
  0%{
    width: 0ch;
  }
  100%{
    width: 25ch;
  }
}
@keyframes typing_catex10{
  0%{
    width: 0ch;
  }
  100%{
    width: 21ch;
  }
}
@keyframes typing_catcon1{
  0%{
    width: 0ch;
  }
  100%{
    width: 25ch;
  }
}
@keyframes typing_catcon2{
  0%{
    width: 0ch;
  }
  100%{
    width: 49ch;
  }
}
@keyframes typing_catcon3{
  0%{
    width: 0ch;
  }
  100%{
    width: 62ch;
  }
}
@keyframes typing_blog1{
  0%{
    width: 0ch;
  }
  100%{
    width: 35ch;
  }
}
@keyframes typing_misc1{
  0%{
    width: 0ch;
  }
  100%{
    width: 8ch;
  }
}
@keyframes typing_error1{
  0%{
    width: 0ch;
  }
  100%{
    width: 16ch;
  }
}
@keyframes typing_error2{
  0%{
    width: 0ch;
  }
  100%{
    width: 27ch;
  }
}
@keyframes fadeText{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes borders{
  0%{
    border-right:3px solid rgba(0,255,0,.75);
  }
  100%{
    border-right:3px solid rgba(0,255,0,.75);
  }
}
@keyframes showanim{
  0%{
    display: none;
  }
  100%{
    display: block;;
  }
}