body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black !important;
  color: white;
  scroll-behavior: auto;
}

input {
  background-color: black !important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

a {
  color: white !important;
}

/* colors */
.color-blue {
  color: rgb(15, 101, 201);
}

.color-green {
  color: rgb(9, 192, 9);
}

.color-red {
  color: red;
}

.bg-white {
  background-color: white;
}

[data-typing-effect] {
  display: none;
}
